{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% block body %}
{% block navigation %}
<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="navbar-inner">
        <a href="{% url 'home' %}"><img class="navbar-brand" src="{% static "img/logo/logo-10.png" %}" /></a>
      </div>
    </div><!-- /.navbar-header -->
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" class="navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        <li{% block productenactive %}{% endblock productenactive %}><a href="{% url 'producten' %}">Producten</a></li>
        <li{% block aanbodactive %}{% endblock aanbodactive %}><a href="{% url 'woning_index' %}">Woningaanbod</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated %}
        <li><a href="{% url 'profiel' %}" title="Profiel bekijken">Ingelogd als <strong>{{ user.username }}</strong></a></li>
        <li><a href="{% url 'uitloggen' %}" title="Uitloggen">{% bootstrap_icon "log-out" %}</a></li>
        {% else %}
        <li><a href="{% url 'inloggen' %}">Inloggen</a></li>
        <li><a href="{% url 'registreren' %}">Registreren</a></li>
        {% endif %}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container -->
</nav>
{% endblock navigation %}
{% block content %}
Content
{% endblock content %}
{% block footer %}
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-3"><a href="/service">Klantenservice</a></div>
      <div class="col-md-3"><a href="/voorwaarden">Ondersteuning</a></div>
      <div class="col-md-3"><a href="/privacy">Privacy- en cookiebeleid</a></div>
      <div class="col-md-3"><a href="/overons">Over ons</a></div>
    </div>
  </div>
</footer>
{% endblock footer %}
{% endblock body %}
